body
{
    margin: 20px;
    background-color: #222831;
    color: #eeeeee;
}

.grey
{
    background-color: #393e46 !important;
}

.nav-link
{
    color: #00adb5 !important;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
    color: #393e46;
    font-size: 200px;
}

p
{
    font-size: 30px;
}

hr
{
    background-color: #393e46;
}

.centered
{
    text-align: center;
}

ul
{
    list-style: none;
}

li
{
    padding: 5px 0;
    font-size: 40px;
}

a
{
    color: inherit;
}

a:link
{
    text-decoration: none;
}

a:hover
{
    color: #393e46;
}
